.vertical-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 60px; /* Adjust width as needed */
  background-color: #f7f7f7; /* Change background color as needed */
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.248);
  z-index: 1000; /* Ensure it stays on top of other content */
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-icon {
  width: 30px; /* Adjust icon size as needed */
  height: 30px;
  margin: 15px 0;
  cursor: pointer;
}

.nav-bottom {
  margin-bottom: 20px; /* Space from bottom */
}

@media (max-width: 798px) {
  .vertical-navbar {
    flex-direction: row;
    height: 60px; /* Adjust height for horizontal bar */
    width: 100%; /* Full width */
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    position: fixed;
  }

  .nav-center {
    flex-direction: row;
    justify-content: space-evenly; /* Space icons evenly */
    width: 100%; /* Take full width */
  }

  .nav-icon {
    margin: 0 10px; /* Adjust margin for horizontal spacing */
  }

  .nav-bottom {
    position: fixed;
    top: 20px; /* Move to top left corner */
    left: 20px;
    margin-bottom: 0; /* Remove margin from bottom */
  }
  #logout{
    position: relative;
    left: 320px;
    bottom: 0px;
  }
}
